@import "../../sass/variables";

.homes {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;

  margin: 15rem 0;

  @media only screen and (max-width: $bp-medium) {
    margin: 10rem 0;
  }
}
